[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "fuzzy-el"]
	path = fuzzy-el
	url = git://github.com/auto-complete/fuzzy-el.git
[submodule "popup-el"]
	path = popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule "ac-math"]
	path = ac-math
	url = git://github.com/emacsmirror/ac-math.git
[submodule "magit"]
	path = magit
	url = git@github.com:magit/magit.git
[submodule "magit-filenotify"]
	path = magit-filenotify
	url = git@github.com:magit/magit-filenotify.git
[submodule "git-modes"]
	path = git-modes
	url = git@github.com:magit/git-modes.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "icicles"]
	path = icicles
	url = git://github.com/emacsmirror/icicles.git
[submodule "external-abook"]
	path = external-abook
	url = git@github.com:emacsmirror/external-abook.git
[submodule "hexrgb"]
	path = hexrgb
	url = git@github.com:emacsmirror/hexrgb.git
[submodule "ucs-cmds"]
	path = ucs-cmds
	url = git@github.com:emacsmirror/ucs-cmds.git
[submodule "org-search-goto"]
	path = org-search-goto
	url = git@github.com:emacsmirror/org-search-goto.git
[submodule "org-search-goto-ml"]
	path = org-search-goto-ml
	url = git@github.com:emacsmirror/org-search-goto-ml.git
[submodule "minimal"]
	path = minimal
	url = git@github.com:emacsmirror/minimal.git
[submodule "dired-details"]
	path = dired-details
	url = git@github.com:emacsmirror/dired-details.git
[submodule "dired-details-plus"]
	path = dired-details-plus
	url = git@github.com:emacsmirror/dired-details-plus.git
[submodule "dired-sort-menu-plus"]
	path = dired-sort-menu-plus
	url = git@github.com:emacsmirror/dired-sort-menu-plus.git
[submodule "dired-sort-menu"]
	path = dired-sort-menu
	url = git@github.com:emacsmirror/dired-sort-menu.git
[submodule "undo-tree"]
	path = undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
