# Can ignore specific files

# Use wildcards as well
*~
*.elc
*.gz
\#*\#
bookmark*
dired*
firefox*
hexrgb*
icicles*
icomplete*
lacarte*
linkd*
session*
synonyms*
tabbar*

# might possibly change these in the future
auto-install*.el
color-theme-6.6.0/*
color-theme-autoloads.el
color-theme.el
doxymacs.el
mirror.el
mtorus.el
root-help.el
themes/
xml-parse.el
boxquote.el
browse-kill-ring+.el
browse-kill-ring.el
git*.el
multi-scratch.el
tempo-c-cpp.el
undo-tree.el


# Can also ignore all directories and files in a directory.
cedet/*
ecb/*
emacs-bookmark-extension/*
wanderlust/*
yasnippet*/*